<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

        <script src="https://kit.fontawesome.com/7cb52107fe.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <link rel="stylesheet" href="{{ asset('css/styleError.css') }}">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        {% endblock %}
    </head>

    <body>

        {% block body %}



<div class="cont_principal">
<div class="cont_error">
  
<h1 class="first">404</h1>  
  <p>La page demandée n'existe pas</p>
    <a href="{{path('app_login')}}"><p><span class="first">Retour à
    l'accueil</span></p></a>
    

  </div>
<div class="cont_aura_1"></div>
<div class="cont_aura_2"></div>
</div>



        {% endblock %}

        {% block javascripts %}

         
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>


            <script src="/js/error.js"></script>

        {% endblock %}

    </body>
</html>
