

{% block title %}{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="{{ asset('css/style.css') }}">
 {% endblock %}


{% block body %}

    <div class="container-fluid p-0 accueilBkg ">

        {#   Logo + nom     #}
        <div class="row d-flex justify-content-center align-items-center">
            {# <img class="img mr-3 " src="https://image.flaticon.com/icons/png/512/120/120159.png" alt=""><i class="fas fa-concierge-bell"></i> #}

            <h1 class="taille">HotelManager</h1>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>



        {#   Formulaire de connexion     #}
        <div class="row d-flex justify-content-center hauteurBoxConnexion ">
            <form method="post" >

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="form-group">
                    <input class="accueil form-control mb-3" type="text" value="{{ last_username }}" name="username" id="inputUsername"  required autofocus placeholder="Nom Utilisateur">

                    <input class="accueil form-control " type="password" name="password" id="inputPassword"  required placeholder="Mot de Passe">
                    
                    <br>
                </div>

                <div class="d-flex justify-content-center mt-5">
                    <button class="btn btn-lg btn-primary" type="submit">Connexion</button>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </form>
        </div>




    </div>

       

  
{% endblock %}

        {% block javascripts %}

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="public/js/script.js"></script>
        {% endblock %}
