{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">

    <div class="d-flex justify-content-center my-5">
        <h1>Historique des assignations</h1>
    </div>
    <table class="table ">
        <thead>
            <tr>
                <th>Date assignation</th>
                <th>Employé assigné</th>
                <th>Chambre concernée</th>
                <th>Option Service</th>
            </tr>
        </thead>
        <tbody>
            {% for assignationMenage in assignationMenages %}
                {% dump(assignationMenage.employe) %}
                <tr>
                    <td>{{(assignationMenage.date|date("d/m/Y"))}}</td>
                    <td>{{(assignationMenage.employe.username)}}</td>
                    <td>{{(assignationMenage.chambre.nom)}}</td>
                    {% for option in assignationMenage.optionService %}
                    <td>{{option.nomOption}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock %}