{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <table class="table">
        {% for assignationMenage in assignationMenages %}
            {% dump(assignationMenage.employe) %}
            <tr>
                <td>{{(assignationMenage.date|date("d/m/Y"))}}</td>
                <td>{{(assignationMenage.employe.username)}}</td>
                <td>{{(assignationMenage.chambre.nom)}}</td>
                {% for option in assignationMenage.optionService %}
                <td>{{option.nomOption}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}