{% extends 'base.html.twig' %}

{% block title %}Modifier une  Chambre{% endblock %}

{% block body %}
    <h1>Modifier une  Chambre</h1>

    {{ include('chambre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('chambre_index') }}">Retour</a>

    {{ include('chambre/_delete_form.html.twig') }}
{% endblock %}
