{% extends 'base.html.twig' %}

{% block title %}Création d'une Chambre{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center my-5">
        <h1>Création d'une Chambre</h1>
    </div>

    {{ include('chambre/_form.html.twig') }}

    <a href="{{ path('chambre_index') }}"><i class="fas fa-arrow-left fa-3x"></i></a>
{% endblock %}
