{% extends 'base.html.twig' %}

{% block title %}Editer profil client{% endblock %}

{% block body %}
    <div class='d-flex justify-content-center'>
         <h1>Editer profil client :{{ client.prenom }} {{ client.nom }}</h1>
    </div>
    {{ include('client/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('client') }}"><i class="fas fa-arrow-left fa-3x " style="color:black;"></i></a>


{% endblock %}
