{# Formulaire d'enregistrement/ modification#}
{{ form_start(form) }}
    {{ form_widget(form) }}

    {# Bouton de validation #}
    <button class="btn"><i class="far fa-check-circle fa-3x"></i></button>
{{ form_end(form) }}
