{% extends 'base.html.twig' %}

{% block title %}Editer Employé{% endblock %}

{% block body %}
    <h1>Editer Employé</h1>

    {{ include('employe/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('employe_index') }}"><i class="fas fa-arrow-left fa-3x " style="color:black;"></i></a>

    {{ include('employe/_delete_form.html.twig') }}
{% endblock %}
