
{# Formulaire d'ajout/modification de TVA #}
{{ form_start(form) }}
    {{ form_widget(form) }}

    {# Bouton : valider #}
    <button class="btn"><i class="far fa-check-circle fa-3x"></i></button>
{{ form_end(form) }}
