{% extends 'base.html.twig' %}

{% block title %}Nouvelle Tva{% endblock %}

{% block body %}
    <h1>Ajout d'une Tva</h1>

    {{ include('tva/_form.html.twig') }}

    <a href="{{ path('tva_index') }}">Retour a la liste</a>
{% endblock %}
