{% extends 'base.html.twig' %}

{% block title %}Nouvelle Tva{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center my-5">
        <h1>Ajout d'une Tva</h1>
    </div>

    {{ include('tva/_form.html.twig') }}

    <a href="{{ path('tva_index') }}"><i class="fas fa-arrow-left fa-3x"></i></a>
{% endblock %}
