{% extends 'base.html.twig' %}

{% block title %}Modification des options{% endblock %}

{% block body %}
    <h1>Modification des options</h1>

    {{ include('option_service/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('option_service_index') }}">Retour</a>

    {{ include('option_service/_delete_form.html.twig') }}
{% endblock %}
