{% extends 'base.html.twig' %}

{% block title %}Ajout d'une Option{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center my-5">
        <h1>Ajout d'une Option</h1>
    </div>

    {{ include('option_service/_form.html.twig' , {'button_label': 'Update'}) }}

    <a href="{{ path('option_service_index') }}"><i class="fas fa-arrow-left fa-3x " style="color:black;"></i></a>
{% endblock %}
