{% extends 'base.html.twig' %}

{% block title %}Ajout d'une Option{% endblock %}

{% block body %}
    <h1>Ajout d'une Option</h1>

    {{ include('option_service/_form.html.twig') }}

    <a href="{{ path('option_service_index') }}">Retour a la liste</a>
{% endblock %}
